---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "animations";
@import "colors";
@import "expanders";
@import "typography";

html {
  min-height: 100%;
}

body {
  height: 100%;
  background-attachment: fixed;
  background-color: $bg-d1;
  background-image: url("../images/bg-d1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: $white;

  &.d1,
  &.dark {
    background-color: $bg-d1;
    background-image: url("../images/bg-d1.jpg");

    color: $white;

    article {
      background-color: rgba($white, 0.125);
    }
  }

  &.d2,
  &.light {
    background-color: $bg-d2;
    background-image: url("../images/bg-d2.jpg");

    color: $black;

    article {
      background-color: rgba($black, 0.125);
    }
  }
}

section.main {
  max-width: 800px;
  margin: 0 auto;

  position: relative;
}

a {
  color: inherit;
}

article {
  margin: 1em auto 1em;
  padding: 0.25em 1em;

  background-color: rgba($black, 0.125);
}

aside.tags {
  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;

      &:not(:last-child)::after {
        content: ","
      }
    }
  }
}

#theme-toggle {
  position: absolute;
  top: 0;
  right: 1em;
  padding: 0;

  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
}
