---
title: Grimoire and Lore from Destiny
---

<h1>Destiny</h1>
{% assign categories = site.d1 | group_by: 'category' | sort: 'name' %}
{% for category in categories %}
  <h2>{{ category.name }}</h2>

  {% assign sections = category.items | group_by: 'section' | sort: 'name' %}
  {% for section in sections %}
  <h3>{{ section.name }}</h3>
    {% for item in section.items %}
      <h4>
        <a href="{{ site.baseurl }}/d1/{{ item.slug }}">{{ item.title }}</a>
      </h4>

      {% if item.flavor %}
        <p>| {{ item.flavor}}</p>
      {% endif %}

      <!--
      {% if item.content %}
        {{ item.content }}
      {% endif %}
      -->

      <!-- {% if item.tags %}
        <ul>
          {% for tag in item.tags %}
            <li>
              <a href="#">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %} -->
    {% endfor %}
  {% endfor %}
{% endfor %}

<h1>Destiny 2</h1>
{% assign items = site.d2 | sort: 'order' %}
{% for item in items %}
  <h2>
    <a href="{{ site.baseurl }}/d2/{{ item.slug }}">{{ item.title }}</a>
  </h2>

  {% if item.flavor %}
    <p>| {{ item.flavor}}</p>
  {% endif %}

  <!--
  {% if item.content %}
    {{ item.content }}
  {% endif %}
  -->

  <!-- {% if item.tags %}
    <ul>
      {% for tag in item.tags %}
        <li>
          <a href="#">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %} -->
{% endfor %}
