---
title: Grimoire and Lore from Destiny
layout: default
---

<h1>Destiny</h1>
{% assign categories = site.d1 | group_by: 'category' | sort: 'name' %}
{% for category in categories %}
  <h2>{{ category.name }}</h2>

  {% assign sections = category.items | group_by: 'section' | sort: 'name' %}
  {% for section in sections %}

    {% assign section_slug = "d1-" | append: category.name | append: "-" | append: section.name | slugify %}

    <section class="expander">
      <input type="checkbox" id="{{ section_slug }}-expander" />
      <label for="{{ section_slug }}-expander">
        <h3 id="{{ section_slug }}">{{ section.name }}</h3>
      </label>

      <ul>
        {% for item in section.items %}
          <li><a href="{{ site.baseurl }}/d1/{{ item.slug }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </section>

  {% endfor %}

{% endfor %}
