---
title: Grimoire and Lore from Destiny
layout: default
---

<h1>Destiny</h1>
{% assign categories = site.d1 | group_by: 'category' | sort: 'name' %}
{% for category in categories %}
  <h2>{{ category.name }}</h2>

  {% assign sections = category.items | group_by: 'section' | sort: 'name' %}
  {% for section in sections %}
  <h3>{{ section.name }}</h3>
    <ul>
      {% for item in section.items %}
        <li><a href="{{ site.baseurl }}/d1/{{ item.slug }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endfor %}
